@tailwind base;
@tailwind components;
@tailwind utilities;
#myVideo {
  object-fit: cover;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  position: relative;
}
body {
<<<<<<< HEAD
=======
  position: relative;
  z-index: -2;
>>>>>>> bd278630b1313db6278e92642c1be8772b2ab762
}
.main {
  display: flex;
  /* w-[100vw] h-20 px-2 flex items-center */
  /* width: 100vw;
  height: 100vh; */
  z-index: 2;
  align-items: center;
  position: absolute;
  top: 0;
}
