@tailwind base;
@tailwind components;
@tailwind utilities;
#myVideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  position: relative;
  margin-top: 50px;
}
.icon {
  width: 4%;
}
body {
  position: relative;
  z-index: -2;
  background-color: white;
}
.chocolateSortBuy {
  transition: all 400ms;
}
.chocolateSortBuy:hover {
  background-color: #000391;
}

.buy {
  padding: 10px;
  background-color: white;
  backdrop-filter: blur(20px);
  border: 4px #be9131 solid;
  color: #010391;
  position: absolute;
  right: 0;
  display: flex;
  margin: 4px;
  align-items: center;
}
.main {
  display: flex;
  width: 100vw;
  z-index: 2;
  align-items: center;
  position: absolute;
  top: 0;
}
.buyBorder:hover {
  border-color: #de8526;
  filter: brightness(1.2);
}
.buyBorder {
  transition: all 500ms;
}
.basketButton:hover {
  background-color: rgb(204, 93, 93);
}
.text2 {
  /* font-size: small; */
  width: 70%;
}
.basketButton {
  transition: all 500ms;
}
.grid-container {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  gap: 70px;
  /* filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15)); */
}
.cart {
  /* flex flex-col gap-4 justify-center items-center*/
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.HandleChocolateCount {
  transition: all 500ms;
}

.buy-container {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  gap: 70px;
}
.hoppet:hover {
  background-color: red;
}
.homeAbout {
  display: flex;
  gap: 8vh;
  justify-content: space-evenly;
  padding-top: 8vh;
  padding-bottom: 8vh;
  background-color: rgb(23 37 84);
  margin-top: 0;
  margin-bottom: 0;
}
.div1 {
  /* flex flex-col justify-center items-center  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cashPart {
  /* w-[40%] h-[60%] bg-white border-[#BE9131] border-4 rounded-3xl cashPart  */
  width: 40%;
  height: 60%;
  background-color: white;
  border: #be9131 4px solid;
  border-radius: 30px;
  overflow: auto;
}
.aboutPart {
  display: grid;
  grid-template-columns: 48% 48%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  gap: 70px;
}
/* img {
    animation: image 1s;
  } */

@keyframes image {
  0% {
    opacity: 0;
    filter: brightness(1) blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
  100% {
    opacity: 1;
    filter: brightness(1) blur(0);
  }
}
@media only screen and (max-width: 1600px) {
  .loginPart {
    height: 400px;
    width: 350px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 30px;
  }
  .cart {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .text1 {
    font-size: medium;
  }
  .text2 {
    font-size: small;
    width: 70%;
  }
  .homeAbout {
    display: flex;
    gap: 5vh;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: rgb(23 37 84);
    margin-top: 0;
    margin-bottom: 0;
  }
  .chocolateSortBuy {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1200px) {
  .textContent {
    font-size: 20px;
  }

  .logo {
    width: 150px;
    height: 150px;
  }
  .div1 {
    /* flex flex-col justify-center items-center  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homeAbout {
    /* flex gap-[8vh] justify-evenly py-[8vh] bg-blue-950 my-0  */
    display: flex;
    gap: 5vh;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: rgb(23 37 84);
    margin-top: 0;
    margin-bottom: 0;
  }
  .buy {
    /* p-[10px] bg-[#3c3c3c] backdrop-blur-[20px] border-2 border-white text-white  text-2xl absolute right-0 flex mr-4 items-center */
    padding: 10px;
    background-color: white;
    backdrop-filter: blur(20px);
    border: 4px #be9131 solid;
    color: #010391;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    margin: 4px;
    align-items: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 30px;
  }
  .chocolateSortBuy {
    font-size: 11px;
  }
  .loginPart {
    height: 400px;
    width: 350px;
  }
  .cashPart {
    width: 50%;
    height: 50%;
  }
  .buy-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 70px;
  }
}
@media only screen and (max-width: 900px) {
  .textContent {
    font-size: 16px;
  }
  .homeAbout {
    /* flex gap-[8vh] justify-evenly py-[8vh] bg-blue-950 my-0  */
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: rgb(23 37 84);
    margin-top: 0;
    margin-bottom: 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 30px;
  }
  .cashPart {
    width: 80%;
    height: 60%;
  }
  .buy-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 70px;
  }
}
@media only screen and (max-width: 650px) {
  .buy {
    font-size: 12px;
    padding: 4px;
  }
  body {
    --swiper-navigation-sides-offset: 35vw !important;
    --swiper-navigation-top-offset: 35vh !important;
    user-select: none;
    overflow-x: hidden;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding-left: 40px;
    padding-right: 40px;

    /* padding-top: 20px; */
    gap: 30px;
  }
  .logoInBasket {
    width: 50px;
    height: 50px;
  }
  .headerText{
    width: 100px;
  }
  .cashPart {
    width: 90%;
    height: 70%;
  }
  .chocolateSortBuy {
    font-size: 8px;
  }
  .buy-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 70px;
  }
  .swiper-button-next {
    right: 0 !important;
  }
  .swiper-button-prev {
    left: 0 !important;
  }
  .header-choco {
    font-size: 15px;
  }
  .userHeadEmail {
    font-size: 12px;
    margin-right: 12px;
    gap:2px
  }
  .username {
    font-size: 12px;
    margin-right: 8px;
    gap:2px
  }
}
body {
  --swiper-navigation-sides-offset: 35vw;
  --swiper-navigation-top-offset: 17vw;
  user-select: none;
  overflow-x: hidden;
}

.swiper-wrapper {
  margin-top: 40px;
}
.swiper {
  height: 95vh !important;
  overflow-x: hidden;
}

.font {
  font-weight: 300;
}
svg {
  font-size: large;
}
