@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 800px) {
  .chocolteSelectionBarResponsive {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .chocolteSelectionBarResponsive {
    font-size: 14px;
  }
}

#myVideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  position: relative;
  margin-top: 50px;
}
.Company {
  display: grid;
  grid-template-columns: 45% 45%;
}
.bordeer {
  border-bottom: #000391;
  border-width: 4px;
}
.classs {
  display: grid;
  grid-template-columns: 23% 70%;
}
.icon {
  width: 4%;
}
.header1 {
  /* w-full flex flex-col px-4 py-1 gap-2 fix top-0 bg-[#BE9131] r-[4px] z-10 border-b-[20px] border-[#F1EFEF] relative */
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1 4 1 4;
  top: 0px;
  background-color: #be9131;
  border-bottom: 20px #f1efef solid;
  position: fixed;
  z-index: 3;
}
body {
  position: relative;
  z-index: -2;
  /* background-color: ; */
}
.chocolateSortBuy {
}
.chocolateSortBuy:hover {
  background-color: #000391;
}
.SalePart {
  text-align: center;
  border-top: 120px solid green;
  border-left: 120px solid transparent;
}
.buy {
  padding: 10px;
  background-color: white;
  backdrop-filter: blur(20px);
  border: 4px #be9131 solid;
  color: #010391;
  position: absolute;
  right: 0;
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.main {
  display: flex;
  width: 100vw;
  z-index: 2;
  align-items: center;
  position: absolute;
  top: 0;
}
.buyBorder:hover {
  border-color: #de8526;
  filter: brightness(1.2);
}
.buyBorder {
  transition: all 500ms;
}
.basketButton:hover {
  background-color: rgb(204, 93, 93);
}
.text2 {
  /* font-size: small; */
  width: 70%;
}
.basketButton {
  transition: all 500ms;
}
.grid-container {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  gap: 70px;
  /* filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15)); */
}
.cart {
  /* flex flex-col gap-4 justify-center items-center*/
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.HandleChocolateCount {
  transition: all 500ms;
}

.buy-container {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  gap: 70px;
}
.hoppet:hover {
  background-color: red;
}
.homeAbout {
  display: flex;
  gap: 8vh;
  justify-content: space-evenly;
  padding-top: 8vh;
  padding-bottom: 8vh;
  background-color: rgb(23 37 84);
  margin-top: 0;
  margin-bottom: 0;
}
.div1 {
  /* flex flex-col justify-center items-center  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cashPart {
  /* w-[40%] h-[60%] bg-white border-[#BE9131] border-4 rounded-3xl cashPart  */
  width: 40%;
  height: 60%;
  background-color: white;
  border: #be9131 4px solid;
  border-radius: 30px;
  overflow: auto;
}
.aboutPart {
  display: grid;
  grid-template-columns: 48% 48%;
  padding-top: 20px;
}
.bttn1 {
  /* absolute right-10 flex gap-4 h-full items-center */
  position: absolute;
  right: 10px;
  display: flex;
  gap: 4px;
  height: 100%;
  align-items: center;
}
/* img {
    animation: image 1s;
  } */

@keyframes image {
  0% {
    opacity: 0;
    filter: brightness(1) blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
  100% {
    opacity: 1;
    filter: brightness(1) blur(0);
  }
}
@media only screen and (max-width: 1600px) {
  .loginPart {
    height: 380px;
    width: 350px;
  }
}
@media only screen and (max-width: 1900px) {
  .Div2 {
    gap: 30px;
  }
  .Div2font {
    font-size: 2vh;
  }
  .purchaseButton {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1500px) {
  /* .tester {
    background-color: black;
  } */
  .grid-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 30px;
  }
  .cart {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .text1 {
    font-size: medium;
  }
  .text2 {
    font-size: small;
    width: 70%;
  }
  .homeAbout {
    display: flex;
    gap: 5vh;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: rgb(23 37 84);
    margin-top: 0;
    margin-bottom: 0;
  }
  .chocolateSortBuy {
    font-size: 15px;
  }
  /* .chocolateSortBuy {
    font-size: 20px;
  } */
  .Div1CA {
    justify-content: space-around;
  }
  .Div1CA-img {
    width: 236px;
    height: 236px;
  }
  .Div1CA-font {
    font-weight: 400;
    font-size: 1.5vh;
  }
  .bw {
    width: 1.7vh;
    height: 1.7vh;
  }
}
@media only screen and (max-width: 1200px) {
  .textContent {
    font-size: 20px;
  }

  .logo {
    width: 150px;
    height: 150px;
  }
  .div1 {
    /* flex flex-col justify-center items-center  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homeAbout {
    /* flex gap-[8vh] justify-evenly py-[8vh] bg-blue-950 my-0  */
    display: flex;
    gap: 5vh;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: rgb(23 37 84);
    margin-top: 0;
    margin-bottom: 0;
  }
  .buy {
    /* p-[10px] bg-[#3c3c3c] backdrop-blur-[20px] border-2 border-white text-white  text-2xl absolute right-0 flex mr-4 items-center */
    padding: 10px;
    background-color: white;
    backdrop-filter: blur(20px);
    border: 4px #be9131 solid;
    color: #010391;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    margin: 4px;
    align-items: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 30px;
  }
  .chocolateSortBuy {
    font-size: 11px;
  }
  .loginPart {
    height: 400px;
    width: 350px;
  }
  .cashPart {
    width: 50%;
    height: 50%;
  }
  .buy-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 70px;
  }
  .aboutPart {
    display: grid;
    grid-template-columns: 80%;
  }
  .Div1 {
    width: 25vh;
  }
  .Div1CA {
    gap: 2vh;
  }
  .Div1CA-img {
    width: 200px;
    height: 200px;
  }
  .Company {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 6vh;
  }
}
@media only screen and (max-width: 900px) {
  .textContent {
    font-size: 16px;
  }

  /* .header1 {
    font-size: 12px;
  } */
  .homeAbout {
    /* flex gap-[8vh] justify-evenly py-[8vh] bg-blue-950 my-0  */
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: rgb(23 37 84);
    margin-top: 0;
    margin-bottom: 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 30px;
  }
  .cashPart {
    width: 80%;
    height: 60%;
  }
  .buy-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 70px;
  }
  .Div1CA {
    justify-content: space-between;
  }
  .Div1CA-img {
    width: 170px;
    height: 170px;
  }
  .Div1CA-font {
    font-size: 1.2vh;
  }
  .Company {
    display: grid;
    grid-template-columns: 85%;
  }
  .AdminHeader {
    font-size: 20px;
    /* background-color: red; */
  }
  .hiAdmin {
    font-size: 20px;
  }
  .textInAdminPage {
    font-size: 15px;
  }
  .textStatusInAdminPage {
    margin-right: none;
  }
}
@media only screen and (max-width: 650px) {
  .buttonInAdminPageHeader {
    width: 60px;
    font-size: 8px;
  }
  .textStatusInAdminPage {
    font-size: 15px;
    right: 80px;
  }
  .email {
    font-size: 15px;
  }
  .buy {
    font-size: 12px;
    padding: 4px;
    margin-right: none;
    margin-bottom: 20px;
  }
  .userImage {
    height: 15px;
    width: 15px;
  }
  .userBorder {
    height: 30px;
    width: 30px;
  }
  body {
    --swiper-navigation-sides-offset: 35vw !important;
    --swiper-navigation-top-offset: 35vh !important;
    user-select: none;
    overflow-x: hidden;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding-left: 40px;
    padding-right: 40px;

    /* padding-top: 20px; */
    gap: 30px;
  }
  .logoInBasket {
    width: 50px;
    height: 50px;
  }
  .headerText {
    width: 100px;
  }
  .cashPart {
    width: 90%;
    height: 70%;
  }
  .chocolateSortBuy {
    font-size: 8px;
  }
  .buy-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    gap: 70px;
  }
  .swiper-button-next {
    right: 0 !important;
  }
  .swiper-button-prev {
    left: 0 !important;
  }
  .header-choco {
    font-size: 15px;
  }
  .header {
    border-color: #be9131;
  }
  .userHeadEmail {
    font-size: 12px;
    margin-right: 12px;
    gap: 2px;
  }
  .username {
    font-size: 12px;
    margin-right: 8px;
    gap: 2px;
  }
}
@media only screen and (max-width: 550px) {
  .header1 {
    display: flex;
    flex-direction: column;
  }
  .bttn1 {
    position: fixed;
  }
  .Div1CA-font {
    font-size: 1.3vh;
  }
  .Div1CA {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1vh;
    padding-top: 14vh;
  }
  .Div1 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
  }
  .Div1CA-img {
    width: 30%;
    height: 30%;
  }
}
body {
  --swiper-navigation-sides-offset: 35vw;
  --swiper-navigation-top-offset: 17vw;
  user-select: none;
  overflow-x: hidden;
}
.swiper-wrapper {
  margin-top: 40px;
}
.swiper {
  height: 95vh !important;
  overflow-x: hidden;
}

.font {
  font-weight: 300;
}
svg {
  font-size: large;
}

.StoryHAC {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding-top: 10vh;
  gap: 30px;
}
.chocolate-card-image {
  transition: 0.4s;
}

.chocolate-card-image:hover {
  scale: 1.2;
}

/* th {
  text-align: start;
} */
td {
  text-align: center;
}
input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
}
